@font-face {
    font-family: 'bm_med';
    src: url(fonts/BodoniModa_72pt-Medium.ttf);
}

@font-face {
    font-family: 'bm_sb';
    src: url(fonts/BodoniModa_72pt-SemiBold.ttf);
}

body {
    text-align: center;
    width: 70vw;
    margin: auto;
}

#heading a{
    text-decoration: none;
    color: black;
}

#heading, #divider {
    background-color: antiquewhite;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    text-align: left;
    width: 60vw;
    margin: auto;
}

.content img, .content video {
    width: 100%;
}

.content p {
    text-align: justify;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}

h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
}

p {
    font-size: 18px;
}

.img-credit {
    font-size: 16px;
}